[Unit]
Description=WufooUpdate

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'cd /mnt/production/WufooExtractor && ./WufooCSVExport.py'
WorkingDirectory=/var/sites/wufoo.localgrid.de
